In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import sklearn

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
boston = load_boston()

In [ ]:
boston_house = pd.DataFrame(boston['data'])

In [ ]:
boston_house.columns = boston['feature_names']

In [ ]:
boston_house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
X = boston_house

In [ ]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
standardscaler = StandardScaler()
minmaxscaler = MinMaxScaler()

In [ ]:
X_scaled = minmaxscaler.fit_transform(X)

In [ ]:
X_scaled

array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
        2.87234043e-01, 1.00000000e+00, 8.96799117e-02],
       [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 1.00000000e+00, 2.04470199e-01],
       [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
        5.53191489e-01, 9.89737254e-01, 6.34657837e-02],
       ...,
       [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.07891832e-01],
       [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 9.91300620e-01, 1.31070640e-01],
       [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
        8.93617021e-01, 1.00000000e+00, 1.69701987e-01]])

In [ ]:
y = boston['target']
y.shape

(506,)

In [ ]:
X_train, x_val, y_train, y_val = train_test_split(X_scaled, y, test_size = 0.3, random_state = 10)

In [ ]:
X_train = np.concatenate([np.ones((len(X_train), 1)), X_train], axis=1)

In [ ]:
X_train[:,0].shape

(354,)

In [ ]:
theta_best = np.linalg.inv(X_train.T.dot(X_train)).dot(X_train.T).dot(y_train)

In [ ]:
theta_best.shape

(14,)

In [ ]:
# best values for theta
intercept, *coef = theta_best
print(f"Intercept: {intercept}\n\
Coefficients: {coef}")

Intercept: 25.414133200854025
Coefficients: [-13.681440030213123, 6.501592697760579, -0.66180550513812, 1.6220330908590714, -7.435766276199793, 17.493914111930074, 1.0997542416433648, -17.024396651372413, 6.960763370882379, -6.409438813313255, -7.6284670150975655, 5.135901286011238, -19.745783767831295]

In [ ]:
x_val = np.concatenate([np.ones((len(x_val), 1)), x_val], axis=1)

In [ ]:
# predicting the value of our new sample
new_sample_pred = x_val.dot(theta_best)
print(f"Prediction: {new_sample_pred}")

Prediction: [31.4243217  31.96785487 30.93785448 22.34313349 18.83846235 16.20617519
 35.92908162 14.74157477 25.07700756 37.13230282 21.47652971 30.92661826
 28.07823424 34.02599249 33.7778476  40.63701192 24.25899783 23.43019291
 25.547906   21.34469147 32.65467539 17.80506124 25.46149722 25.0207691
 32.51742137 20.51357936 19.47165255 16.87107974 38.44316206  0.3888111
 32.39559257 32.15518102 26.05305015 23.82049084 20.56494632 19.66990981
  3.53212643 35.21058387 27.03280773 27.67994129 34.36642896 29.82003002
 18.31717228 31.55109654 17.93465111 28.4618882  19.39950216 21.60782793
 38.10391926 16.45101411 24.51003632 19.57072199 24.53359986 34.34589029
 26.74381857 34.86340026 21.02859444 19.77400901 18.68461884 24.64911818
 19.89923131 23.52871967 39.56690084 42.81848202 30.38116596 16.96889789
 23.83550068  3.18952008 31.52469303 28.66536677 18.40003941 27.1252398
 19.56625808 25.28579071 25.04642543 10.30562974 38.97693514  8.17901104
 18.51160158 30.32060192 22.85826904 20.98739809 20.03256896 28.70004491
 30.83986409 28.22575374 26.26715448 31.56221764 22.16821072 -6.40058282
 21.56768106 19.91022274 24.98025707 23.46247865 19.27692546 18.74766072
 27.39474857 22.21870161 26.82617865 23.38366235 23.91947259 19.26003338
 21.09721048 10.97767848 13.82483416 20.72378817 23.53977916 13.92807616
 28.87070782 15.75931299 15.18847286 22.31904753 26.57865025 28.92895886
 24.2980433  18.18585276 16.29471281 17.40018499 15.5361744  21.171008
 33.71665888 30.02422884 21.13474092 13.93326869 16.19662736 29.30890971
 13.1822158  22.06473155 24.33753588 31.89978763 33.44295992  5.90754764
 35.2142013  24.1925307  17.45166483 24.25550318 28.41864261 34.52462088
  6.2544935   2.12089952 28.40739835 12.49858357 18.22016397 19.69247114
  5.52373677 14.45613717 37.18224665 25.78695839 23.32233462 26.36634945
 11.47817153 20.44901468]

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_val, new_sample_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_val, new_sample_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_val, new_sample_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_val, new_sample_pred), 2))

Mean absolute error = 4.03
Mean squared error = 37.2
Explain variance score = 0.63
R2 score = 0.62